<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="License" value="9vdlYqaQuAKMsQ9P6uZzdXorCBIZ2cWXdRJTKm1RoXnBMvgHljx1B12ron6FOn4CtWwpCVhGvIssqv1VySMcgcYlZfeYGidiB/K98bOaw2ZbOSmlvtv6shX/kL4iqnf4D9pQEX6CMnRVFBKOVYIhO8pK+Gcd3+BK"/>
  </appSettings>
</configuration>
